@model UserSettingsViewModel
﻿
<fieldset style="border: solid; border-width: 1px; border-radius: 5px; max-width: 576px; height: 100%">
	<div style=" margin-top: 75px;" class="text-center">
		<a class="btn btn-primary" href="@Url.Action(Model.ActionName, new { userId = Model.Id })">
			Change Password
		</a>
	</div>
</fieldset>